#root {
    /* background-color: #f5f4f7; */
    /* background-color: gba(115, 142, 173, 0.2); */
    background-color: #f5f4f7;
}

#nav-bar {
    padding-left: 4.5rem;
    padding-right: 4.5rem;
    backdrop-filter: blur(0.5rem);
    padding-top: 2rem;
    padding-bottom: 3rem;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    display: flex;
    font-family: TT Commons,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,sans-serif;
    font-weight: 400;
    background-color: #f5f4f7;
}

.sticky {
    position: static;
    top: 0;
    width: 90%;
}

#header {
    font-family: TT Commons,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,sans-serif;
    font-weight: 400;
    font-size: 2.8em;
    padding-bottom: 0.5rem;
    color: #3a5dae;
    padding-top: 2rem;
}

#tag-line {
    font-family: TT Commons,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,sans-serif;
    font-weight: 400;
    padding-bottom: 1rem;
    color: black;
    font-size: 1.2em;
    padding-left: 25rem;
    padding-right: 25rem;
}

a:link, a:visited {
    text-decoration: none;
    color: black;
  }

a:hover {
    text-decoration: underline;
    text-shadow: #3a5dae;
}

#image {
    width: 4em;
    height: 4em;
}

#product-card {
    text-align: center;
    font-weight: 300;
    font-family: TT Commons,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,sans-serif;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding: 50px;
    font-size: smaller;

}

#top-p {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: larger;
}

#product-header {
    text-align: left;
    font-weight: 400;
    font-family: TT Commons,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,sans-serif;
    color: #3a5dae;
    padding-top: 5rem;
}

#product-wrapper {
    padding-left: 10rem;
    max-width: 30%;
}

#product-wrapper p {
    font-family: TT Commons,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,sans-serif;
    font-weight: 400;
    padding-bottom: 1rem;
    color: black;
    line-height: 20pt;
}

#home-button {
    align-items: left;
    font-family: TT Commons,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,sans-serif;
    font-weight: 400;
    font-size: 1em;
    background-color: #3a5dae;
    color: white;
    border: 0;
    height: 40px;
    width: 110px;
    cursor: pointer;
}

#home-wrapper {
    text-align: center;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 4rem;
}

#pubs {
    display: flex;
}

#pub-divs {
    flex: 1;
    text-align: center;
    padding-left: 5rem;
    padding-right: 5rem;
    font-family: TT Commons,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-size: 1rem;
    border-left-style: solid;
    border-right-style: solid;
    border-width: 1px;
}

#pub-images {
    width: 10em;
    height: 10em;
}

#login-wrapper {
    text-align: center;
    font-family: TT Commons,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-weight: 400;
}

#login-wrapper p {
    font-size: smaller;
    cursor: pointer;
}

#submit-button {
    background-color: #3a5dae;
    color: white;
    border: 0;
    height: 40px;
    width: 150px;
    cursor: pointer;
    font-size: 1em;
}

#login-header {
    font-family: TT Commons,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,sans-serif;
    font-weight: 400;
    color: #3a5dae;
    font-size: 1.6em;
    padding-bottom: 1rem;
    padding-top: 4rem;
}

#products {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#products img {
    width: 50%;
    height: 80%;
}

#cart-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 10rem;
    max-width: 100%;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

#cart-header {
    text-align: center;
    font-weight: 400;
    font-family: TT Commons,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,sans-serif;
    color: #3a5dae;
    padding-top: 7rem;
}

.page {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    background-color: #f5f4f7;
}

/* simple - enter transition 300ms, exit 150ms */
.fade-appear,
.fade-enter {
    opacity: 0;
    z-index: 1;
}
.fade-appear-active,
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 450ms linear 300ms;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 300ms linear;
}

/* user create account styling */

.user-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    --tw-border-opacity: 1;
    border-color: rgba(34,28,53,var(--tw-border-opacity));
    border-width: 0 0 0 1px;
    font-size: 1.125rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    outline: 2px solid transparent;
    outline-offset: 2px;
    padding: .5rem 1rem;
    --tw-shadow: 0 0 transparent;
    height: 50px;
    width: 300px;
    background: #f0eff2;
}

.hover:hover {
    background-color: #f0eff2;
}

/* #image:hover {
    box-shadow: 0 0 35px #3a5dae;
} */


